/* write your override styles here */
#wall .tag-1 {
  display: none;
  background-color: white;
  font-size: 13px;
}

#wall .tag-2 {
  display: none;
  background-color: white;
  font-size: 13px;
}

#wall .tag-3 {
  display: none;
  background-color: white;
  font-size: 13px;
}